<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - MVC 5 Shoping Cart</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Mysterio Shop</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                    @Html.Action("PagesMenuPartial", "Pages")

                    @if (Request.IsAuthenticated)
                    {
                        <li class="nav-item">@Html.ActionLink("Log out", "Logout", "Account", null, new { @class = "nav-link", style = "text-decoration:none" })</li>
                        <li class="nav-item">@Html.Action("UserNavPartial", "Account", new { area = "" })</li>
                    }
                    else
                    {
                        if (ViewBag.Title == "Login")
                        {
                            <li class="nav-item">@Html.ActionLink("Log in", "Login", "Account", null, new { @class = "nav-link active", style = "text-decoration: none" })</li>
                        }
                        else
                        {
                            <li class="nav-item">@Html.ActionLink("Log in", "Login", "Account", null, new { @class = "nav-link", style = "text-decoration: none" })</li>
                        }
                    }
                </ul>
                <span class="navbar-text">
                    @if (Request.IsAuthenticated)
                    {
                        @Html.Action("CartPartial", "Cart")
                    }
                </span>
            </div>
        </div>
    </nav>

    <div class="container body-content" style="margin-top:30px">
        <div class="row" style="min-height:83.5vh">

            <div class="col-sm-12 col-md-3 list-group" style="position:relative">
                <div class="fixed">
                    @Html.Action("CategoryMenuPartial", "Shop")
                </div>
            </div>

            @if (ViewBag.Sidebar == "Yes")
            {
                <div class="col">
                    @RenderBody()
                </div>
                <div class="col-sm-12 col-md-3" style="position:relative">
                    <div class="fixed">
                        @Html.Action("SidebarPartial", "Pages")
                    </div>
                </div>
            }
            else
            {
                <div class="col">
                    @RenderBody()
                </div>
            }
        </div>

        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Mysterio Shop</p>
        </footer>

    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/scripts")
    @Scripts.Render("~/Scripts/bootstrap.js")
    @RenderSection("scripts", required: false)
</body>
</html>
